<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <macros>
   <layer>{{ ch_layer }}</layer>
   <shard>{{ ch_shard }}</shard>
   <replica>{{ ch_replica }}</replica>
  </macros>
</yandex>
